# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы логов
*.log

# Игнорировать временные файлы
*.tmp

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать кэш Babel
.cache/

# Игнорировать сгенерированные файлы
dist/
build/

# Игнорировать файлы с локальными настройками
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорировать файлы сборки проекта
coverage/
*.swp
*.bak
*.tmp
*.zip
*.gz
*.tar
*.rar
*.7z

# Игнорировать файлы конфигурации тестов
config/test.env

# Игнорировать файлы конфигурации PM2
ecosystem.config.js

# Игнорировать файлы с ключами и сертификатами
*.pem
*.key
*.pub

# Игнорировать файлы журналов
logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
