@import 'variables.scss';
@import 'common.scss';
@import 'modal.scss';


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.window {
  border: solid;
  border-width: 2px;
  border-bottom-color: $border-color-dark;
  border-right-color: $border-color-dark;
  border-left-color: $border-color-light;
  border-top-color: $border-color-light;
  background: silver;
  color: #212529;
}
.header {
  height: $font-size-maim * 1.4;
  background: -webkit-linear-gradient(left, #08216b, #a5cef7);
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  text-align: left;
  width: 99%;
  &__icon {
    height: $font-size-maim;
    width: $font-size-maim;
  }
}
.navbar {
  background: silver;
  margin: 0;
  border: 1px outset $color-white;
  height: $font-size-maim * 1.75;
  padding: 0 ;
  color: #212529;
  &__nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  // &__item {
      
  // }
  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    padding-right: $quarter-size;
    padding-left: $quarter-size;
    color: #212529;
    &:hover {
      border: solid;
      border-width: 2px;
      border-bottom-color: $border-color-dark;
      border-right-color: $border-color-dark;
      border-left-color: $border-color-light;
      border-top-color: $border-color-light;
      color: black;
    }
    
  }
}
.game {
  margin: $half-size;
  margin-top: $quarter-size;
  border-style: outset;
  border-width: 3px;
  border-bottom-color: $border-color-dark;
  border-right-color: $border-color-dark;
  border-left-color: $border-color-light;
  border-top-color: $border-color-light;
  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: $half-size;
    border-style: inset;
    border-width: 3px;
    border-top-color: $border-color-dark;
    border-left-color: $border-color-dark;
    border-right-color: $border-color-light;
    border-bottom-color: $border-color-light;
  }
  .game-bar {
    &__bomb-counter {
      background-color: black;
      margin: $quarter-size;
      display: flex;
      flex-direction: row;
      padding: 1px;
      border-style: inset;
      border-width: 3px;
      border-top-color: $border-color-dark;
      border-left-color: $border-color-dark;
      border-right-color: $border-color-light;
      border-bottom-color: $border-color-light;
      position: relative;
    }
    &__bomb-num {
      height: $double-size;
      width: $font-size-maim;
      background-size: cover;
      margin: 4px;

      position: relative;
      z-index: 3;
    }
    &__timer {
      background-color: black;
      margin: $quarter-size;
      display: flex;
      flex-direction: row;
      padding: 1px;
      border-style: inset;
      border-width: 3px;
      border-top-color: $border-color-dark;
      border-left-color: $border-color-dark;
      border-right-color: $border-color-light;
      border-bottom-color: $border-color-light;
      position: relative;
    }
    &__timer-num {
      height: $double-size;
      width: $font-size-maim;
      background-size: cover;
      margin: 4px;

      position: relative;
      z-index: 3;
    }
    &__smile {
      width: $double-size + $quarter-size;
      height: $double-size + $quarter-size;
      font-size: $font-size-hight;

      border-style: outset;
      border-width: 3px;
      border-bottom-color: $border-color-dark;
      border-right-color: $border-color-dark;
      border-left-color: $border-color-light;
      border-top-color: $border-color-light;
    }
  }
  .game-field {
    margin: $half-size;
    border-style: outset;
    border: solid;
    border-width: 3px;
    border-top-color: $border-color-dark;
    border-left-color: $border-color-dark;
    border-right-color: $border-color-light;
    border-bottom-color: $border-color-light;

    &__row {
      //   height: $font-size-hight + ($border-width-main * 2);
      display: flex;
    }
    &__box {
      height: $font-size-hight;
      width: $font-size-hight;
      font-size: $font-size-low;
      background-size: cover;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      font-size: $font-size-maim;
      font-weight: 900;

      border-style: outset;
      border: solid;
      border-width: 3px;
      border-bottom-color: $border-color-dark;
      border-right-color: $border-color-dark;
      border-left-color: $border-color-light;
      border-top-color: $border-color-light;
      //   display: inline-block;
      &-open {
        // border: 3px solid $background-color-main;
        border: 1px dotted gray;
        width: $font-size-hight + 4px;
        height: $font-size-hight + 4px;
        background-image: none;
      }
    }
  }
}
.footer {
  height: $font-size-hight;
  width: 100vw;
  background-color: $color-silver;
  position: fixed;
  bottom: 0;
  z-index: 3;

  border-style: outset;
  border-width: 3px;
  border-top-color: $border-color-light;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}
