
.window-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}
.window-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 200px;
    &__header-text {
        padding-left: $quarter-size;
    }
    &__content {
        margin: $font-size-maim;
    }
    &__help {
        width: 300px;
        height: 350px;
        padding: $half-size;
        overflow-x: none;
        overflow-y: auto;
    }
    &__levels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: $font-size-maim * 12;
    }
    &__level {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: $font-size-maim * 2;
        height: $font-size-maim * 2;
        color: red;
        &-passed {
            color:  darkblue;
        }
    }
    &__btn {
        margin:   0 $font-size-maim $font-size-maim $font-size-maim;
        padding: 0 $font-size-maim;
    }

}