
.window-modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}
.window-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 150px;
    // width: 150px;
    &__content {
        margin: $font-size-maim;
        
    }
    &__btn {
        margin:   0 $font-size-maim $font-size-maim $font-size-maim;
    }

}